<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.beatoven.rhythmical.vo.Member" alias="member" />
		<typeAlias type="com.beatoven.rhythmical.vo.FamePost" alias="famePost" />
		<typeAlias type="com.beatoven.rhythmical.vo.Save" alias="save" />
		<typeAlias alias="monster" type="com.beatoven.rhythmical.vo.Monster"/>
		<typeAlias alias="stage" type="com.beatoven.rhythmical.vo.Stage"/>
		<typeAlias alias="story" type="com.beatoven.rhythmical.vo.Story"/>
	</typeAliases>
</configuration>
