<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.beatoven.rhythmical.interfaces.StageInterface">
	  	<select id="getStage" resultType="stage" parameterType="int">
	  		SELECT *
	  		FROM STAGE
	  		WHERE stageNum = #{stageNum}
	  	</select>
	  	
	  	<select id="getBPM" parameterType="string" resultType="int">
	  		SELECT bpm
	  		FROM BGM
	  		WHERE BGMName = #{bgmName}
	  	</select>
	  	
	  	<select id="getMonsterTable" resultType="monster">
	  		SELECT *
	  		FROM MONSTER
	  	</select>
	</mapper>