<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.beatoven.rhythmical.interfaces.StoryInterface">
  
  
	
	<select id="selectStory" parameterType="int" resultType="story">
		select *
		from story
		where storynum = #{storynum}
		order by contentorder
	</select>
  
  
  </mapper>
  
  