<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.beatoven.rhythmical.interfaces.SystemInterface">
  
  <select id="getsaveList" resultType="save">
  	select * from save;
  </select>
  
  <insert id="makeSave" parameterType="save">
  INSERT INTO save (
  	id
  	,life
  	,motionlist
  	,stateNum
  ) VALUES (
  	#{id}
  	,#{life}
  	,#{motionlist}
  	,#{stateNum}
  )
  
  </insert>
  
  <update id="saveLife" parameterType="save">
  UPDATE save
  SET
  	life = #{life}
  WHERE
  	id = #{id}
  </update>
  
  <select id="getLife" parameterType="string" resultType="int">
  SELECT
  	life
  FROM
  	SAVE
  WHERE
  	id = #{id}
  
  </select>
  
  <select id="getStateName" parameterType="string" resultType="string">
	SELECT
	  	t1.statename
	  FROM
	  	state t1
	  WHERE
	  	t1.statenum = (
	  		SELECT
			  	t2.statenum
			FROM
				save t2
			WHERE
			  	t2.id = #{id}
	  	)
  </select>
  
  <update id="addStateNum" parameterType="string">
  UPDATE
  	save
  SET
  	statenum = statenum + 1
  WHERE
  	id = #{id}	
  </update>
  
  <select id="getContentNum" parameterType="string" resultType="int">
  SELECT
  	t2.contentnum
  FROM
  	save t1, state t2
  WHERE
  	t1.id = #{id}
  	and t1.stateNum = t2.stateNum
  </select>
  
  </mapper>